.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.todoItem {
  background-color: #f4f4f4;
  width: 100%;
  margin-top: 20px;
  border: 2px black solid;
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-left: 10px;
}

.button {
  display: inline;
  background-color: red;
  font-size: 30px;
  color: #fff;
}

.button:hover {
  background-color: #fff;
  color: red;
}

.form {
  margin: auto;
  margin-top: 20px;
  box-sizing: border-box;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.form input {
  border: none;
  border-bottom: 1px solid green;
}

.form .button2 {
  background-color: greenyellow;
  color: black;
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 5px;
}

.button2:hover {
  background-color: black;
  color: greenyellow;
}
